{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css'%}?{% now "U" %}"/>
      <title>base_css</title>
      {% block style %}{% endblock style %}
  </head>

  <body>
    <header>
      <nav>
        <div class="nav_logo" onclick=>
          <img src="{% static "img/common/mylog_black.svg" %}">
        </div>
        <div class="nav_side">
          <span title="일상">일상</span>
          <span title="요리">요리</span>
          <span title="여행">여행</span>
          <span title="영화">영화</span>
          <span title="IT">IT</span>
          {% block content %} {% endblock %}
          
        </body>
        {% block content2 %} {% endblock %}
</html>
