{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/reset.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css'%}?{%
    now "U" %}"/> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/board_client.css' %}?{% now "U" %}"/>
    {% block style%} {% endblock %}

    <title>base_content</title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <article>
      <div class="posting_list" id="posts-container">
        <div class="posting">
          <div class="posting-img">
            <img src="{% static "img/board_client/posting_01.svg" %}">
          </div>
        </div>
      </div>
    </article>
    <footer>
      <div class="container">
        <p>Made with <span>ONENABLE</span></p>
      </div>
    </footer>
  </body>
  <script src="{%static "js/main.js"%}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', () => {
          displayHomeItem([], '').catch(err => {
              console.error('API 호출에 실패하였습니다.: ', err);
          });
      });
  </script>
</html>