{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css'%}?{% now "U" %}"/> 
    <title>base_content</title>
  </head>
  <body>
    <article>
      <div class="posting_list">
        <div class="posting">
          <div class="posting-img">
            <img src="{% static "img/board_client/posting_01.svg" %}">
          </div>
          <div class="posting-info">
            <div class="posting_date">2023-09-07 12:13:01</div>
            <div class="posting_title">Lorem ipsum dolor</div>
            <div class="posting_content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
              similique velit possimus nostrum praesentium voluptate, obcaecati,
              accusantium vel enim iusto error officiis eligendi, consectetur
              optio ratione atque nulla. A, alias.
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer>
      <div class="container">
        <p>Made with <span>ONENABLE</span></p>
      </div>
    </footer>
  </body>
</html>