{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css'%}?{%now "U" %}"/>
        <link rel="stylesheet" href="{% static 'css/header_white.css'%}?{%now "U" %}"/>
        <link rel="stylesheet" href="{% static 'css/footer.css'%}?{%now "U" %}"/>
        <link rel="stylesheet" href="{% static 'css/board.css'%}?{%now "U" %}"/>
        <title>board</title>
    </head>

    <body>
        <header>
            {% include 'header.html' %}
        </header>
        
        <section>
            <div class="main_and_sall_box">
                <div class="main_box">
                    <div class="posting_date"> {{ blog_post.upload_date }} </div>
                    <div class="posting_title"> {{ blog_post.title }} </div>
                    <div class="writer"> {{ blog_post.user }} </div>
                    <div class="content_tag"> 
                        {% if blog_post.category_id == 1 %} 일상
                        {% elif blog_post.category_id == 2 %} 요리
                        {% elif blog_post.category_id == 3 %} 여행
                        {% elif blog_post.category_id == 4 %} 영화
                        {% elif blog_post.category_id == 5 %} IT
                        {% endif %}
                    </div>
                    <div class="posting_content"> {{ blog_post.content|safe }} </div>
                </div>
                <div class ="smallbox">
                    <div class="recommend">
                        <div class="toppic"> Other posts <br> you may like </div>
                        {% for related_post in related_posts %}
                        <div class="sub_posting" onclick=moveToRelatedPost({{ related_post.id }})>
                            <img class="sub_img" src="{{ related_post.img }}">
                            <div class="sub_title"> {{ related_post.title }} </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="button_box">
                <div class="button_flex">
                    <div class ="button_flex gap">
                        <button class="left" id="edit_btn">수정하기</button>
                        <button class="left" id="delete_btn">삭제하기</button>
                    </div>
                    <button id="share_btn">공유하기</button>
                </div>
                <div class="button_flex">
                    <div class="button_flex gap text">
                        <span style="opacity: 0.5;">다음글</span>
                        <span>글의 제목입니다.</span>
                    </div>
                    <span style="opacity: 0.5;">날짜</span>
                </div>
                <div class = "button_flex">
                    <div class="button_flex gap text">
                        <span style="opacity: 0.5;">이전글</span>
                        <span>글의 제목입니다.</span>
                    </div>
                    <span style="opacity: 0.5;">날짜</span>
                </div>
            </div>
            
            <div class="comment">
                <div name="comment_form" method="POST">
                    <div class="user_name">user 1</div>
                    <input id="comment_input"></input> 
                    <button onclick=postComment()>댓글 작성</button>
                </div>
                <div class="comment_list">
                    {% for comment in comments %}
                    <div class="comment" data-comment-id="{{ comment.id }}">
                        <div class="comment_user">{{ comment.user }}</div>
                        <span>{{ comment.comment }}</span>
                        <div class="comment_date">{{ comment.chrmt_upload_date }}</div>
                        <div> <img src="{% static 'img/board/like_btn.svg' %}"> </div>
                        <div class="comment_btn">
                            <button class="comment_delete" onclick="deleteComment({{comment.id}})">삭제</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <footer> {% include 'footer.html' %} </footer>
</body>
<script src="{% static 'js/board.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
</html>