<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지-로그인</title>
</head>

<body>
    <nav>
        <div class="nav_logo">
            <span>myLOG</span>
        </div>
        <div class="nav_side">
            <span title="일상">일상</span>
            <span title="요리">요리</span>
            <span title="여행">여행</span>
            <span title="영화">영화</span>
            <span title="IT">IT</span>
            <button>Logout</button>
            <button>Just Write</button>
        </div>
    </nav>
    <section>
        <header>
            최고 조회수 게시글
            블로그 대문 내용
            <div class="READ MORE">READ MORE</div>
        </header>
        <article>
            블로그 작성내용 불러오는곳
        </article>
    </section>
    <footer>
        피그마 마지막 회색줄
        Made with Django
    </footer>
</body>

</html>