{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/board_client.css'%}?{%now "U" %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css'%}?{%now "U" %}"/>
    <link rel="stylesheet" href="{% static 'css/header_black.css'%}?{%now "U" %}"/>
    <link rel="icon" href="{% static 'img/common/onenable.png'%}">
    <title>메인페이지</title>
</head>

<body>
    <header>

        {% include 'header.html' %}

        <section>
            <div class='pop_title_and_content'>
                <div class="pop_title"></div>
                <div class="pop_content"> 
                </div>
                <button class="read_more">READ MORE</button>
            </div>
            <img class="pop_img">
        </section>
    </header>
  
    <article>
        <div class="posting_list">
        </div>
    </article>

    <div class="audio-player">
    <audio controls loop autoplay>
        <source src="{% static 'sounds/onepiece1.mp3' %}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio></div>

    <footer> {% include 'footer.html' %} </footer>
    <script src="{% static 'js/main.js' %}"></script>  
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/click.js' %}"></script>
  </body>
</html>