{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/board_client.css'%}?{%now "U" %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css'%}?{%now "U" %}"/>
    <link rel="stylesheet" href="{% static 'css/header_black.css'%}?{%now "U" %}"/>
    <title>메인페이지</title>
</head>

<body>
    <header>

        {% include 'header.html' %}

        <section>
            <div class='pop_title_and_content'>
                <div class="pop_title">Lorem ipsum dolor</div>
                <div class="pop_content"> 
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, architecto? Assumenda,
                    distinctio consequuntur omnis nobis nostrum doloribus consequatur ipsam necessitatibus iure
                    praesentium cumque voluptates, ullam similique beatae. Et, inventore fugit.
                </div>
                <button class="read_more">READ MORE</button>
            </div>
            <img class="pop_img" src="{% static "img/board_client/pop_img.svg" %}">
        </section>
    </header>
  
    <article>
        <div class="posting_list">
            <div class="posting">
                <div class="posting-img">
                    <img src="{% static "img/board_client/posting_01.svg" %}">
                </div>
                <div class="posting-info">
                    <div class="posting_date"> 2023-09-07 12:13:01 </div>
                    <div class="posting_title"> Lorem ipsum dolor </div>
                    <div class="posting_content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis similique velit possimus nostrum praesentium voluptate, obcaecati, accusantium vel enim iusto error officiis eligendi, consectetur optio ratione atque nulla. A, alias. </div>
                </div>
            </div>
        </div>
    </article>

    <audio controls loop autoplay>
        <source src="{% static 'sounds/naruto1.mp3' %}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <footer> {% include 'footer.html' %} </footer>
    <script src="{% static 'js/main.js' %}"></script>  
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/click.js' %}"></script>
  </body>
</html>