{% extends 'base_content2.html'%} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/board_write.css'%}?{% now "U"%}"/>
    <title>write</title>
    {% endblock style %}
  </head>
 
  <body>
    <header>
      {% block content %}
          <button>Login</button>
          <button>Just Write!</button>
        </div>
      </nav>
    </header>
    {%endblock content%}
    
    {% block content2 %}
    <div class="content">
      <form method="POST" id="post_form" action="{% url 'post_list' %}">
        {% csrf_token %}
        {{ form|safe }}
      </form>

      <div class="right_sidebar">
        
        <div class="ai_writer">
          <img src="{% static "img/board_write/ai.svg" %}">
          <div>AI글 자동완성</div>
        </div>

        <div class="topic">
          <div>TOPIC</div>
          <div>
            <form id="topic_form">
              <input type="radio" checked name="post_category" value='1'/>일상
              <input type="radio" name="post_category" value='2'/>요리 
              <input type="radio" name="post_category" value='3'/>여행 
              <input type="radio" name="post_category" value='4'/>영화 
              <input type="radio" name="post_category" vaue='5'/>IT/전자기기
            </form>
          </div>
        </div>

        <div class="upload_info">
          <div>UPLOAD INFO</div>
          <div>상태: 미게시</div>
          <div class="save_temp_and_submit">
            <button id="save_temp_btn">임시저장</button>
            <button id="post_form_btn">글 작성</button>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p>Made with <span>ONENABLE</span></p>
      </div>
    </footer>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/board_write.js' %}"></script>  
  {% endblock content2 %}
</html>
