{% extends 'base_content2.html'%} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/board.css'%}?{%now "U" %}"/>
    <title>board</title>
    {% endblock style %}
</head>

<body>
    <header>
        {% block content %}
            <button class="logout">Logout</button>
            <button class="Justwrite">Just Write!</button>
        </div>
    </nav>
</header>
{% endblock content %}

{% block content2 %}
    <section>
        <header>
            <div class="main_box">
                <div class="main_posting">
                    <div class="posting_date"> {{ blog_post.upload_date }} </div>
                    <div class="posting_title"> {{ blog_post.title }} </div>
                    <div class="writer"> {{ blog_post.user }} </div>
                    <div class="content_tag"> {{ blog_post.category }} </div>
                    <div class="posting_content"> {{ blog_post.content|safe }} </div>
                </div>
            </div>
            <div class ="smallbox">
                    <div class="recommend">
                        <div class="toppic">
                            Other posts <br> you may like
                        </div>
                        
                        {% for related_post in related_posts %}
                        <div onclick=moveToRelatedPost({{ related_post.id }})>
                            <img class="sub_img" src="{{ related_post.img }}">
                            <div class="sub_title"> {{ related_post.title }} </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </header>
        <div class="main_box">
            <div class = "btnbox" style="gap: 10px;">
                <div class ="make">
                    <button class="left" id="edit">수정하기</button>
                    <button class="left" id="delete">삭제하기</button>
                </div>
                <button class="right">공유하기</button>
                <div class = "next">
                    <span>다음글</span>
                    <span>글의 제목입니다.</span>
                    <span>날짜</span>
                </div>
                <div class = "prev">
                    <span>이전글</span>
                    <span>글의 제목입니다.</span>
                    <span>날짜</span>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <span class="endtag">Made with Django</span>
    </footer>
</body>
<script src="{% static 'js/board.js' %}"></script>
{% endblock content2 %}
</html>