{% extends 'base_content.html' %} {% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/board_admin.css' %}?{% now "U" %}"/>
    <title>메인페이지</title>
  </head>

  <body>
    {% block content %}
    <header>
      <nav>
        <div class="nav_logo"> <img src="{% static "img/common/mylog_white.svg" %}"> </div>
        <div class="nav_side">
          <span title="일상">일상</span>
          <span title="요리">요리</span>
          <span title="여행">여행</span>
          <span title="영화">영화</span>
          <span title="IT">IT</span>
          <button id="logout">Logout</button>
          <a id="just_write" href="{% url 'write' %}">Just Write!</a>
        </div>
      </nav>
      <section>
        <div class="pop_title_and_content">
          <div class="pop_title">Lorem ipsum dolor</div>
          <div class="pop_content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque,
            architecto? Assumenda, distinctio consequuntur omnis nobis nostrum
            doloribus consequatur ipsam necessitatibus iure praesentium cumque
            voluptates, ullam similique beatae. Et, inventore fugit.
          </div>
          <div class="read_more">READ MORE</div>
        </div>
        <img class="pop_img" src="{% static "img/board_client/pop_img.svg" %}">
      </section>
    </header>
    {% endblock %}
  </body>
  <script src="{% static 'js/main.js' %}"></script>  
</html>
