{% load static %}

<nav>
    <div class="nav_logo" onclick=moveToMain()>
        <img class="nav_logo_img">
    </div>
    <div class="nav_side">
        <span title="일상">일상</span>
        <span title="요리">요리</span>
        <span title="여행">여행</span>
        <span title="영화">영화</span>
        <span title="IT">IT</span>
        
        {% if user.is_authenticated %}
        <a id="logout">Logout</a>
        <a id="login" href="{% url 'write' %}">Just write</a>
        {% else %}
        <a id="login" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</nav>