{% load static %}

<nav>
    <div class="nav_logo" onclick=moveToMain()>
        <img class="nav_logo_img">
    </div>
    <div class="nav_side">
        <input type="text", id="search_box" placeholder="제목이나 내용으로 포스팅을 검색하세요">
        <span class='filter_btn' title="일상" onclick=filtering(1)>일상</span>
        <span class='filter_btn' title="요리" onclick=filtering(2)>요리</span>
        <span class='filter_btn' title="여행" onclick=filtering(3)>여행</span>
        <span class='filter_btn' title="영화" onclick=filtering(4)>영화</span>
        <span class='filter_btn' title="IT" onclick=filtering(5)>IT</span>
        
        {% if user.is_authenticated %}
        <button class="logout"><a id="logout" href="{% url 'blog_app:logout' %}">Logout</a></button>
        <a id="login" href="{% url 'blog_app:write' %}">Justwrite</a>
        {% else %}
        <button class="login"><a id="login" href="{% url 'blog_app:login' %}">Login</a></button>
        {% endif %}
    </div>
</nav>