{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/reset.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}?{%
    now "U" %}"/>
    <title>login</title>
  </head>
  <body>
    <section>
      <h3>Login</h3>
      <form class="box" method="post">
        <div class="idpassword">{% csrf_token %} {{form.as_p}}</div>
        <button class="login" type="submit">login</button>
      </form>
    </section>
  </body>
</html>
