* {
    font-family: 'Pretendard', sans-serif;
}

body {
    background-color: #F9F8F4;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav_side {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    color: #1E1E1E;
}

.content {
    display: flex;
    justify-content: center;
    background-color: #F9F8F4;
}

textarea {
    resize: none;
    height: 500px;
}

label[for="id_title"] {
    display: none;
}

#id_title {
    background-color: #fff;
    border: none;
    width: 690px;
    padding: 11px 16px;
    margin-top: 40px;
    margin-bottom: 18px;
}

#id_title:focus {
    outline: none;
}

label[for="id_summer_fields"] {
    display: none;
}


#title {
    display: flex;
    width: 740px;
    padding: 11px 16px;
    align-items: flex-start;
    gap: 10px;
}

.note-editor {
    width: 740px;
    height: 300px;
}

.right_sidebar {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;

}

.ai_writer {
    display: flex;
    width: 264px;
    height: 88px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid #CAC8C5;
}

.ai_writer div {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.ai_writer:hover {
    background-color: #474747;
    transition: transform 0.8s;
}

.ai-img {
    width: 40px;
}

#loading-animation img {
    width: 40px;
    height: 40px;
}

.topic {
    display: flex;
    width: 264px;
    height: 175px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 2px;
    border: 1px solid #CAC8C5;
}

.topic-name {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

#topic_form {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#radio {
    width: 17px;
    height: 17px;
}

.upload_info {
    display: flex;
    width: 264px;
    height: 175px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    flex-shrink: 0;

    border-radius: 2px;
    border: 1px solid #CAC8C5;
}

.upload_info_name {
    font-size: 16px;
    font-weight: 500;
}

.save_temp_and_submit {
    display: flex;
}

#save_temp_btn {
    padding: 4px 17px;
    border: none;
    border: 1px solid #1e1e1e;
    color: #1e1e1e;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#post_form_btn {
    padding: 4px 17px;
    border: none;
    background-color: #1e1e1e;
    color: #fff;
    width: 100%;
    font-size: 14px;
}

footer {
    position: absolute;
}