* {
    font-family: 'Pretendard', sans-serif;
}

header {
    width: 100%;
    height: 520px;
    background-color: #1E1E1E;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav_logo {
    margin-top: 20px;
}

.nav_side {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #F9F8F4;
}



#just_write {
    width: 100px;
    height: 39px;
    border-radius: 2px;
    background-color: #F9F8F4;
    color: #1E1E1E;
}



section {
    /* width: 525px; */

    color: #FFF;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.pop_title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.pop_content {
    width: 525px;
}

/* 다시하기 */
/* .read_more{
    width: 100px;
    height: 39px;
    border-radius: 2px;
    background: #F9F8F4;
    font-weight: bold;
} */

.pop_img {
    width: 600px;
    height: 343px;
}

article {
    padding-top: 54px;
    padding-left: 208px;
    padding-right: 208px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.posting {
    width: 315px;
    height: 600px;
}

.posting-img {
    width: 315px;
    height: 320px;
}

.posting_title {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 700;
}

audio:hover,
audio:focus,
audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

audio::-webkit-media-controls-enclosure {
    background-color: #c6c6ec;
}

audio {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;

}

.audio-player {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    /* 화면 높이를 100%로 설정하여 화면 전체를 차지하도록 합니다. */
}