*{
  font-family: 'Pretendard', sans-serif;
}

header{
  width: 1440px;
  height: 520px;
  background-color: #1E1E1E;
}

nav{
  display: flex;
  justify-content: space-around;
}

.nav_side {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  color: #F9F8F4;
}

#login{
  width: 100px;
  height: 39px;
  border-radius: 2px;
  background: #F9F8F4;
}

section{
  /* width: 525px; */
  
  color: #FFF;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;

}

.pop_title{
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.pop_content{
  width: 525px;
}

.pop_img{
  width: 600px;
  height: 343px;
}

article {
  padding-top: 54px;
  padding-left: 208px;
  padding-right: 208px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.posting{
  width: 315px;
  height: 600px;
}

.posting-img{
  width: 315px;
  height: 320px;
}

.posting_title{
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 700;
}


/* 
*{
    font-family: 'Pretendard', sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    position: fixed;
    top: 0;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
}

.nav-container{
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

a:link {
  color : #f9f8f4;
}
a:visited {
  color : #f9f8f4;
}
a:hover {
  color : #f9f8f4;
}
a:active {
  color : #f9f8f4
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 56px;
}

.nav-topics{
    display: flex;
    gap: 40px;
}

button{
    cursor: pointer;
    all: unset;
}

button:hover{
    cursor: pointer;
}

.primary-button {
    display: inline-block;
    background-color: #f9f8f4;
    border-radius: 2px; 
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    
    padding: 10px 25px;
  }
  
.primary-button:hover {
  background-color: #696969;
  transition: transform 0.8s,  background-color 0.3s;
  color: #ffffff;
}
  
.logout-button:hover{
  color: rgb(255, 162, 162);
  transition: transform 0.8s,  color 0.3s;
}

.row-box{
    display: flex;
    align-items: center;
    gap: 20px;
  }

*/