* {
    font-family: 'Pretendard', sans-serif;
}

nav {
    background-color: #F9F8F4;
    display: flex;
    justify-content: space-around;
}

nav.span {
    color: #1E1E1E;
}

.nav_side {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    color: #1E1E1E;
}

.logout {
    color: #1E1E1E;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #F9F8F4;
    border: solid #F9F8F4;

}

.Justwrite {
    width: 100px;
    height: 39px;
    border-radius: 2px;
    background: #1E1E1E;
    color: #fff;
}

section {
    background-color: #F9F8F4;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* 새로정렬됨 */
    align-items: center;
    justify-content: center;

}

header {
    width: 684px;
    height: 714px;
    border: 1px solid #CAC8C5;
    display: flex;
    margin-right: 24px;
}

.main_box {
    display: flex;
}


.main_posting {
    width: 620px;
    height: 642px;
    padding: 36px 32px 36px 32px;
}

.posting_date {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
}

.posting_title {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.writer {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
}

.content_tag {
    color: #1E1E1E;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.posting_content {
    width: 620px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.posting-img {
    width: 620px;
    height: 319px;
}

article {
    /* width: 318px; */
    height: 714px;
    border: 1px solid #CAC8C5;
    width: calc(30% - 24px);
    /*멘토님코드 남은 공간을 차지하도록 설정하고, margin으로 인한 간격을 고려 */
}

.recommend {
    color: #A6A5A1;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 16px;
    padding-left: 16px;
}

.sub_posting {
    width: 302px;
    height: 256px;
    margin-top: 32px;
    margin-inline: auto;
    border: 1px solid #CAC8C5;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sub_img {
    /* width: 286px; */
    height: 200px;
}

.sub_title {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



footer {
    height: 200px;
    background-color: #E7E3DA;
}

span.endtag {
    color: #2B2B2B;
    text-align: right;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.make,
.next,
.prev {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}